# Ignore virtual environments
venv/
venv310/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore model weights 
*.keras
*.safetensors
*.pt
*.h5

# Ignore audio uploads 
*/uploads/*
!*/uploads/.gitkeep

# Ignore QR dataset images
qrcode_module/archive/

# Ignore Jupyter notebooks 
# *.ipynb

config.py

# Allow config/model/tokenizer files for HuggingFace
!*/new_scam_call_model/config.json
!*/new_scam_call_model/tokenizer_config.json
!*/new_scam_call_model/vocab.txt
!*/new_scam_call_model/special_tokens_map.json

scamcalls/datasets/robocall-audio-dataset-main/
